/* <------- global -------> */

html {
    font-family: sans-serif;
    scroll-behavior: smooth!important;
}

body {
    margin: 0 auto;
}

button {
    border: none;
    padding: 0.3em;
    background: linear-gradient(90deg, #7F56D9 0%, #9E77ED 100%);
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    color: white;
    margin: 0 auto;
}

button:hover {
    cursor: pointer;
}

#home, #about, #projects, #contact {
    min-height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}

.btn-primary {
    padding: 15px 80px;
    width: 269.06px;
    height: 62.38px;
}

.btn-secondary {
    padding: 15px 50px;
    width: 179.16px;
    height: 56.14px;
}


/* <------- header/nav -------> */

.header {
    position: fixed;
    width: 100%;
    height: 3rem;
    background-color: white;
    box-shadow: 0px 10px 200px rgba(0, 0, 0, 0.2);
}

.logo {
    display: inline-block;
    position: fixed;
    margin: 1em;
}

.btn-nav {
    position: fixed;
    right: 0;
    margin: 1em;
}

.sidebar {
    position: fixed;
    top: 3rem;
    right: -15vw;
    height: 100%;
    width: 15vw;
    transition: right 0.3s ease-in-out;
    background-color: lightgray;
}

.sidebar.open {
    right: 0;
}

nav ul {
    list-style-type: none;
    padding-right: 1rem;
    text-align: right;
}

/* <------- home -------> */
/* <------- about -------> */

#about {
    background-color: #FAFAFA;
}

.story-skills-container {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 25px;
}

.story {
    text-align: left;
}

/* <------- projects -------> */


/* <------- contact -------> */


/* <------- footer -------> */

.footer {
    position: absolute;
    width: 100%;
    height: 300px;
    background: #000000;
    color: white;
}